<%-include('../../partials/header.ejs')%>
    <body>
        <%-include('../../partials/navbar.ejs')%>
        <section class="container" id="container-article-index">
            <hr>
            <h5 class="h5-index">Artigos</h5>
            <a class="btn btn-dark" href="/admin/articles/new">Criar artigo</a>
            <hr>
            <table class="table" id="table-article-index">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <%articles.forEach(article => {%>
                    <tr>
                        <td scope="col"><%=article.title;%></td>
                        <td scope="col"><%=article.category.title%></td>
                        <td scope="col">
                            <a class="btn btn-success" href="/admin/articles/edit/<%=article.id%>">Editar</a>
                            <form method="post" action="/articles/delete" onsubmit="confirmDel(event,this)">
                                <input type="hidden" id="id" name="id" value="<%=article.id%>">
                                <button class="btn btn-danger" href="submit">Deletar</button>
                            </form>
                        </td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </section>
    </body>
<%-include('../../partials/footer.ejs')%>
<script>
    function confirmDel(event, form){
        event.preventDefault();
        const decision = confirm("Deseja deletar este artigo?");

        if(decision){
            form.submit();
        }
    };
</script>