<%-include('../../partials/header.ejs')%>
    <body>
        <%-include('../../partials/homenavbar.ejs')%> 
        <section class="container" id="container-index">
            <hr>
            <h3>BEM-VINDO AO DEVPRESS ARTIGOS</h3>
            <hr>
            <%result.articles.rows.forEach(article => {%>
            <div class="card"> 
                <div class="card-header">
                    <h5><%=article.title%></h5>
                </div>
                <div class="card-body">
                    <a class="btn btn-dark" href="/<%=article.slug%>">Ler artigo</a>
                </div>
            </div>
            <br>
            <%})%>
            <div class="row">
                <div class="col col-12">
                    <%if(result.page > 2){%>
                        <a class="link-page-before" href="/articles/page/<%=result.page - 1 %>"><<< Anterior</a>
                    <%}else if(result.page === 2){%>
                        <a class="link-page-before" href="/"><<< Anterior</a>
                    <%}%>
                    <%if(result.next){%>
                        <a class="link-page-next" href="/articles/page/<%=result.page + 1 %>">Próximo >>></a>
                    <%}%>
                </div>
            </div>
        </section> 
    </body>
<%-include('../../partials/footer.ejs')%>