<%-include('../../partials/header.ejs')%>
    <body>
        <%-include('../../partials/navbar.ejs')%>
        <section class="container" id="container-category-edit">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h5>Edição de categoria</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="/categories/update">
                        <input type="hidden" id="id" name="id" value="<%=category.id%>">
                        <input class="form-control" type="text" id="title" name="title" placeholder="Título da categoria" value="<%=category.title%>" required>
                        <br>
                        <button class="btn btn-dark">Atualizar</button>
                    </form>
                </div>
            </div>
        </section>
    </body>
<%-include('../../partials/footer.ejs')%>