<%-include('../../partials/header.ejs')%>
    <body>
        <%-include('../../partials/navbar.ejs')%>
        <section class="container" id="container-list-user">
            <hr>
            <h5 class="h5-index">Usuários</h5>
            <a class="btn btn-dark" href="/admin/users/create">Criar novo usuário</a>
            <hr>
            <table class="table" id="table-user-index">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <%users.forEach(user => {%>
                    <tr>
                        <td scope="col"><%=user.id;%></td>
                        <td scope="col"><%=user.email;%></td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </section>
    </body>
<%-include('../../partials/footer.ejs')%>